{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          <form action="/signup" method="POST">
            <div class="mb-3">
               <label for="Inputforname1" class="form-label">Name</label>
                <input name="name" type="name" class="form-control"  id="Inputforname1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
            <div  class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Password </label>
                <input name="password" type="password" class="form-control " id="exampleInputPassword1">
            </div>
        
            <button type="submit"  class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
{% endblock %}